@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600");

/* Remove Default Margin and paddings for all HTML elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CSS variables to use any where in website (if you want to change theme one change here will apply to entire website) */
:root {
    --heading : #393A56;
    --text : #7E7F85;
    --theme : #FD5353;
    --bg : #F7F8F9;
    --footerBg : #415161;
}
body{
    font-family:'poppins';
    overflow-x: hidden;
}
h1,h2,h3,h4,h5{
    color:var(--heading);
}
p{
    color: var(--text);
}
a{
    text-decoration: none;
}
ul{
   list-style: none;
}
.container{
    width: 80%;
    margin: auto;
}
/* header-section */
header{
    background: var(--bg);
    width: 100vw;
    height: 90vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navlinks{
    display:flex;
    align-items: center;

}
.navlinks li{
    margin: 0 20px;
}
.navlinks img{
    width: 50px;
}
.navlinks li a{
    color: var(--heading);
}
.header-content{
    display: flex;
    align-items: center;
    
}
.header-content img{
    width: 90%;
}
.header-info{
    flex: 60%;
}
.line{
    width: 150px;
    height: 4px;
  background: var(--theme);
    border-radius: 5px;

}
.header-info h1{
    font-size: 50px;

}
.header-info h3,.header-info p{
    margin:15px 0;
}
.btn{
    padding: 10px 16px;
    background: var(--theme);
    border-radius: 10px;
    border: none;
    font-size: 16px;
    margin-top: 30px;
    color: var(--bg);
}
#categories{
    display: flex;
    margin: 80px auto;
    justify-content: space-between;
}
.category{
    text-align: center;
}
#featured-products{
    margin:80px auto;
}
.section-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 80px auto;
}
.products{
    display:flex;
    justify-content: space-between;
}
#offer{
    margin: 80px auto;
    background: var(--bg); 
}
#offer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#offer .container img{
    max-width: 600px;
}
.offer-content{
    font: size 50px;;
}
#featured{
    display: flex;
    justify-content:space-between ;
    margin:150px auto;
}
footer{
    background-color: rgb(95, 95, 148);
    
}
footer h3{
    color: whitesmoke;
}
.footer-content{
    display: flex;
    padding: 80px 0;
}
.footer-content .col{
    flex: 1;
    margin: 0 20px;
}
.copyright{
    padding: 10px 0;
    text-align: center;
}
footer p,footer li,footer a{
    color: whitesmoke;
}
.menuBtn img{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
}
 /* FOR MOBILE DEVICES */
@media only screen and (max-width:800px){
    .container{
        width: 90%;
    }
    .navbar{
        flex-direction: column;
       
    }
    .navlinks{
        flex-direction: column;
        background:var(--footerBg);
        width: 100vw;
        height: 100vh;
        position:absolute;
        top: 0;
        left: 0;
       margin-top: -999px;
       transition: all 3s ease-in-out
    }
    .navlinks .active{
        margin-top:0px ;
    }
    .nav-links li{
        margin: 20px auto;
    }
    .nav-links li a{
        color: var(--bg);
    }
    .brand img{
        width: 100px;
    }
    header{
        height: 100%;    
    }
    .header-content{
        flex-direction: column;
    }
    .line{
        width: 100px;
    }
    .header-content img{
        margin: 20px 0;
    }
    #categories{
        flex-direction: column;
    }
    .category{
        margin: 30px auto;
        justify-content: center;
        align-items: center;
    }
    .products{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .product{
    margin: 20px auto;       
    text-align: center;

    }
    
    #offer .container{
        flex-direction: column;
        padding: 40px 0;
    }
    #offer .container img{
        max-width: 90%;
    }
    #offer .container h1{
        font: 40px;
    }
    .offer-content{
        margin-top: 40px;
    }
    #featured{
        flex-direction: column;
    }
    #featured img{
        margin: 20px auto;
    }
    .footer-content{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 40px 0;

    }
    .footer-content .col{
        margin: 10px 0;
    }
}
